Cartopy==0.21.0
certifi==2022.9.24
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.3
kiwisolver==1.4.4
matplotlib==3.6.0
mplcursors==0.5.2
numpy==1.23.3
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
pyparsing==3.0.9
pyproj==3.4.0
PyQt6==6.3.1
PyQt6-Qt6==6.3.2
PyQt6-sip==13.4.0
pyshp==2.3.1
PySimpleGUI==4.60.3
python-dateutil==2.8.2
pytz==2022.2.1
scipy==1.9.1
Shapely==1.8.4
six==1.16.0
